*{
    margin: 0;
}
.main-contaner{
    display: flex;
    justify-content: center;
}
.container{
    flex-direction: column;
    width: 80%;
    display: flex;
}
.section1{
    
    padding: 5% 6%;
    display: flex;
    flex-direction: row;
}
.section1-1{
    width: 50%;
    margin-top: 10%;
    justify-content: center;
}
.order{
    background-image: linear-gradient(to right,#FA9249,#FD4E30);
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10%;
    padding: 2%;
}
.section1-2{
    padding-top: 2%;
    padding-left: 2%;
    justify-content: center;
    width: 38%;
}
.responsive{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 10000px;
}
.section2{
        background-image: url("images/shapes/7.png");  
        background-size: 100% 100%; 
        background-repeat: no-repeat; 
        background-color: rgba(255, 235, 205, 0.575);
        flex-direction: row;
        display: flex;  
        margin-bottom: 0px;   
        
}
.section2-1{
        padding-top: 10%;
        padding-left: 15%;
        justify-content: center;
        width: 50%;
}
.responsive1{
    width: 100%;
  max-width: 220px;

  height: 100%;
  max-height: 10000px;
  }
.section2-2{
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
}

.section3{
    margin-top: 50px;
    padding: 0% 15%;
    text-align: justify;
    
}
.a{
    text-align: center;
}
.section4{
    margin: 30px 6%;
    display: flex;
    flex-direction: row;
    position: relative;
    
}
.photo{
    background-color: white;
    padding: 1%;
    width: 30%;
    box-shadow:2px 5px 5px 10px #888888;
    border-radius: 10px;
}
.section5{
    margin: 50px 6%;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow:2px 5px 5px 10px #dad6d6;
}
.social-follower{
    /* background-color: white; */
    padding-top: 40px;
    padding-bottom: 40px;
    width: 33.3%;
    text-align: center;
    /* padding-left:10px; */
}
.section6{
background-color: black;
color: lightgray;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
margin: 0px;
}

.margin1{
    margin-left: 6%;
}
.margin{
    margin-left: 5%;
}

.food-p{
    margin-bottom: 15px;
    text-align: justify;
}
.span-color{
    color: rgb(216, 87, 12);
}
.front-size{
    font-size:45px;
}
.for-p{
    margin: 30px 0px ;
    font-size:20px;
}
.for-p1{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size:20px;
    width:70%;
    justify-content: left;
}

